.form {
    display: flex;
    flex-direction: column;
    >* {
      margin-bottom: $m-size;
    }
  }
  
  .form__error {
    margin: 0 0 $m-size 0;
    color: $red;
    font-style: italic;
  }
  
  .SingleDatePickerInput__withBorder {
    border-radius: 2px;
    width: 100%;
    border: 1px solid #dbdbdb;
}

.DateInput {
  margin: 0;
  padding: 0;
  background: #fff;
  position: relative;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}